apparmor==2.13.4
appdirs==1.4.3
application-utility==1.3.2
asgiref==3.2.7
astroid==2.3.3
autopep8==1.4.4
bauh==0.9.0
beautifulsoup4==4.9.0
btrfsutil==1.2.0
CacheControl==0.12.6
caffeine-ng==3.4.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
contextlib2==0.6.0.post1
defusedxml==0.6.0
distlib==0.3.0
distro==1.5.0
Django==3.0.6
django-allauth==0.40.0
django-countries==5.5
django-crispy-forms==1.8.1
docopt==0.6.2
epc==0.0.5
ewmh==0.1.6
filelock==3.0.12
gufw==20.4.0
html5lib==1.0.1
idna==2.8
importmagic==0.1.7
isort==4.3.21
lazy-object-proxy==1.4.3
LibAppArmor==2.13.4
lit==0.10.0.dev0
louis==3.13.0
mccabe==0.6.1
msgpack==1.0.0
npyscreen==4.10.5
oauthlib==3.1.0
ordered-set==3.1.1
packaging==20.3
pacman-mirrors==4.16.4
pep517==0.8.2
pep8==1.7.1
Pillow==8.2.0
progress==1.5
pyaml==20.4.0
pycairo==1.19.1
pycodestyle==2.5.0
PyGObject==3.36.1
pylint==2.4.4
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pysmbc==1.0.20
python-xlib==0.27
python3-openid==3.1.0
pytoml==0.1.21
pytz==2018.5
pyxdg==0.26
PyYAML==5.3.1
ranger-fm==1.9.3
reportlab==3.5.42
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
setproctitle==1.1.10
sexpdata==0.0.3
sip==4.19.22
six==1.13.0
soupsieve==1.9.5
sqlparse==0.2.4
stripe==2.41.0
team==1.0
toml==0.10.0
typed-ast==1.4.0
ufw==0.36
urllib3==1.25.7
vboxapi==1.0
virtualenv==20.0.20
webencodings==0.5.1
wrapt==1.11.2
